{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}

<div class="row ">
    <div class="col-md-8 mx-auto">
        <h4 class="my-2">Настроки</h4>
    <form method="POST" action="">{% csrf_token %}
        <div class="form-group">
        {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <form method="POST" action="{% url 'accounts:delete' %} ">{% csrf_token %}
        <button type="submit" class="btn btn-danger my-3">Удалить</button>
    </form>
    </div>
</div>

{% endblock %}
